
a{ color:#1a5cc8; text-decoration:none }
a:hover { color:orange; text-decoration:underline }

h2{color:blue} 

.toprow{
	background-color:#1a5cc8;
	color:#FFFFFF;
    font-weight:bold;
   white-space: nowrap;
}
.toprow a{ font-family: Arial; font-weight: bold; font-size: 18px; color: #FFFFFF; margin: 15px }
.toprow a:hover{ font-family: Arial; font-weight: bold; font-size: 18px; color:orange; margin: 15px }

.oddrow{background-color:#E5ECF9;white-space: nowrap;}
.evenrow{background-color:#FFFFFF;white-space: nowrap;}
body{
	background-color:#FFFFFF;
	background-image: url(../image/background.jpg);
}
.hd{
color:#FFFFFF;
font-weight:bold;
}


.time{
	text-align: right;
}
.ip{
	text-align: right;
	padding-right: 5px;
}
tr.userinfo{
	background-color:#FFFFF0;
	font-size: 16px;
}
span.yes {
color:green;
font-weight: bolder; 
}
span.no{
color:red;
font-weight: bolder;
}
.green {
color:green; 
}
.red{
color:red;
}
.blue{
color:blue;
}
.gray{
color:gray
}
.orange{
color:orange
}
.navy {
color:navy
}

span.exadmin{
color:gray;
}
#center{
  text-align:center;
}

div.content {
	height: auto;
	background:#e4f0f8;
	margin: 0;
	padding: 0 20px;
	font-size: 14px;
	font-family: Times New Roman;
	text-align: left
}
.sampledata{
    white-space:pre;
    background:#8db8ff;
    font-size: 18px;
	font-family:Monospace;
}

#head{
	position:static; 
//	left:0px; 
//	top:0px;
	width:100%; 
	height:53px;
	z-index:1; 
	visibility:visible;
	text-align:center;

}
#menu{
	position:static; 
//	left:0px; 
//	top:63px;
	width:100%; 
	height:32px;
	z-index:2; 
	visibility:visible;
	text-align:center;
	font-weight:bold;
	background-color: AliceBlue;
}
.menu_item{
	display:inline;
}
#profile{
	position:absolute; 
	left:0px; 
	top:0px;
	width:100%; 
	height:32px;
	z-index:3; 
	visibility:visible;
	text-align:right;
	font-weight:bold;
}
#broadcast{
	position:static; 
//	left:0px; 
//	top:105px;
	width:100%; 
	height:50px;
	z-index:4; 
	visibility:visible;
	text-align:center;
	color:red;
}

#main{
	position:static;
//	left:0px;
//	top:209px;
	width:100%; 
	height:auto;
	z-index:6; 
	visibility:visible
	text-align:center;
}
#foot{
	position:static; 
//	left:0px; 
//	top:520px;
	width:100%; 
	height:133px;
	z-index:7; 
	visibility:visible;
	valign:bottom;
	text-align:center;
}
#logo{
	position:static; 
    vertical-align:middle;
}


