body{
  font-family:Microsoft JhengHei;
}

a{
    color: #DF7401;
    font-family:Microsoft JhengHei;
}

h1{
    color: #B45F04;
    font-family:Microsoft JhengHei;
}

section {
    display: block;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: lightgrey;
}

.main {
    padding: 2em;
    color: black;
}

.content {
    display: block;
    border-width: 4px;
    border-left-style: solid;
    border-color: lightgrey;
}

.button-primary{
    background-color: #DF7401;
    color: #FFFFFF;
}

.ct-series-a .ct-slice-pie {
  fill: hsl(106, 100%, 55%);
  stroke: white;
  stroke-width: 4px;
  color: white;
}
.ct-series-b .ct-slice-pie {
  fill: hsl(0, 100%, 55%);
  stroke: white;
  stroke-width: 4px;
}
.ct-series-c .ct-slice-pie {
  fill: hsl(235, 100%, 55%);
  stroke: white;
  stroke-width: 4px;
}
.ct-label{
	fill: #FFFFFF;
}

.data{
	background-color: #101010;
	color: #10FA10;
	white-space:pre;
	font-family:Monospace;
}

.absolute-center { 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
